*, ::before, ::after {
  box-sizing: border-box;
}
body {
  background: #111821;
}
header {
  width: 280px;
  background: #1e2a3a;
  overflow-y: auto;
  scrollbar-width: thin;
}
.main-wrapper {
  margin-left: 280px;
  margin-right: 0;
}

.image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.image img {
  width: 100%;
}
.bio-para {
  font-size: 0.875rem;
}
.side-nav ul {
  list-style-type: none;
}
.side-nav ul li {
  padding: ;
}
.icons a {
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 5px;
  background: #54B689;
}
.side-nav a {
  color: #fff;
}
.side-nav a:hover {
  color: #54B689;
}
.hire-btn button {
  background: #54B689;
}