*, ::before, ::after {
  box-sizing: border-box;
}
body {
  background: #111821;
}
header {
  width: 280px;
  background: #1e2a3a;
}
.main-wrapper {
  margin-left: 280px;
  margin-right: 0;
}

.image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.image img {
  width: 100%;
}
.bio-para {
  font-size: 0.875rem;
}