*, ::before, ::after {
  box-sizing: border-box;
}
.menu-btn {
  font-size: 1.5rem;
  background: none;
  color: white;
}
.normal-mode-body {
  background: white;
  color: rgb(41, 40, 40);
}
.normal-mode-side {
  background: #54B689;
  color: white;
}
.dark-mode-body {
  background: #111821;
  color: white;
}
.dark-mode-side {
  background: #1e2a3a;
  color: white;
}
header {
  position: fixed;
  width: 280px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  z-index: 999;
}
.main-wrapper {
  margin-left: 280px;
  margin-right: 0;
  overflow-x: hidden;
}

.image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.image img {
  width: 100%;
}
.bio-para {
  font-size: 0.875rem;
}
.side-nav ul {
  list-style-type: none;
}
.icons a {
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 5px;
}
.icons.dark a {
  background: #54B689;
  color: #fff;  
}
.icons.normal a {
  background: #fff;
  color: #54B689;
}
.side-nav a {
  color: #fff;
}
.side-nav a:hover {
  color: #54B689;
}
.hire-btn button {
  background: #54B689;
}
.dark-mode-btn {
  width: 80px;
  border: 3px solid #54B689;
  border-radius: 20px;
  cursor: pointer;
}
.dark-mode-btn > div {
  width: 30px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  background: #54B689;
  color: #54B689;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.about-desc,
.work-expi,
 .about-sub-header,
 .skill-desc,
 .project-desc,
 .blog-desc {
  color: rgba(255, 255, 255, 0.7);
}
.about-desc, .work-expi {
  line-height: 2;
}
.about-desc a,
.work-expi a,
.blog-link a.card-link {
  color: #54B689;
}
.portfolio-btn,
.blog-btn,
.portfolio-btn:hover,
.resume-btn, .resume-btn:hover {
  color: #fff;
  font-weight: 600;
}
.portfolio-btn, .blog-btn {
  background: #54B689;
}
.resume-btn {
  background: #1e2a3a;
}
.resume-btn:hover {
  background: #1e2a3ace;
}
.portfolio-btn:hover {
  background: #54b688ce;
}
.about-image {
  max-height: 320px;
  overflow: hidden;
}
.about-image img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  max-width: 400px;
}
.skill-icon {
  font-size: 2rem;
}
.work-header {
  border-left: 5px solid #54B689;
}
.testi-img img {
  max-width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
.testimonial-desc > div {
  position: relative;
  width: 31%;
  padding: 1.5rem;
  padding-left: 3rem;
  background: #1e2a3a;
}
.testimonial-desc > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 20px solid;
  border-color: #54B689 transparent transparent #54B689;
}
.testi-text p {
  font-size: 16px;
}
.testi-name p {
  font-size: 0.8125rem;
}
.quote-icon {
 top: 0;
 left: 0;
 z-index: 22;
 font-size: 12px;
 padding: 2px 4px;
}
.projects-wrapper {
  width: 100%;
}
.project-card, .blog-post {
  background: #1e2a3a;
  height: 100%;
}
.project-header, .card-tittle {
  font-size: 1.125rem;
}
.project-img-holder, .project-card {
  max-height: 200px;
  overflow: hidden;
}
.project-img-holder img {
  vertical-align: middle;
}
.project-desc, .blog-desc {
  font-size: 0.875rem;
}
.footer-span {
  color: #54B689;
}

@media screen and (max-width: 990px) {
  .main-wrapper {
    margin-left: 0;
  }
  header {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 486px) {
  .about-image img {
    max-width: 100%;
  }
}