.portfolio-intro {
  max-width: 820px;
  margin: 0 auto;
}
.portfolio-intro p {
  color: rgba(255,255,255,0.7);
}
.portfolio-intro h2 {
  font-size: 2rem;
  font-weight: bold;
}
.hire-btn button,
.contact-btn {
  background: #54B689;
  font-weight: 600;
}
.hire-btn button:hover{
  background: #54b688ce;
}
.body-text-link, .contact-icons a {
  color: #54B689;
}
.contact-icons a {
  font-size: 1.5rem;
}
.body-text-link:hover {
  color: #54B689;
}
.contact-details {
  font-size: 80%;
}
.form-sub-email{
  width: 360px;
}