.resume-section {
  background: #1e2a3a;
  color: rgba(255, 255, 255, 0.7);
}
.resume-addr ul{
  list-style-type: none;
}
.resume-addr li{
  padding-bottom: 0.4rem;
}
.resume-addr span {
  font-size: 0.9rem;
}
.resume-profile-img div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid gray;
}
.resume-profile-img img {
  max-width: 200px;
}